{% extends 'base.html' %}

{% block title %}
Editar Cliente
{% endblock %}

{% block content %}

<h2 class="mb-4">Editar Cliente</h2>

<div class="card bg-dark text-light">

    <div class="card-body">

        <form method="post">

            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Nome</label>
                {{ form.name }}
            </div>

            <div class="mb-3">
                <label class="form-label">Telefone</label>
                {{ form.phone_number }}
            </div>

            <button type="submit" class="btn btn-success">
                Salvar alterações
            </button>

            <a href="{% url 'clients:client_detail' client.id %}" class="btn btn-secondary">
                Cancelar
            </a>

        </form>

    </div>

</div>

{% endblock %}