{% extends 'base.html' %}

{% block title %}
  Clientes
{% endblock %}

{% block content %}
  <!-- Mensagens de sucesso/erro -->
  {% block messeges %}
  {% endblock %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">Clientes</h2>

    <a href="{% url 'clients:client_create' %}" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Novo Cliente</a>
  </div>
  <!-- 🔍 Busca -->
  <form method="get" class="mb-4">
    <div class="input-group">
      <span class="input-group-text bg-dark border-secondary text-light"><i class="bi bi-search"></i></span>

      <input autocomplete="off" type="text" name="client_name" value="{{ request.GET.client_name }}" class="form-control bg-dark text-light border-secondary" placeholder="Buscar cliente..." />

      {% if request.GET.q %}
        <!-- Botão limpar -->
        <a href="{% url 'clients:clients_list' %}" class="btn btn-outline-secondary"><i class="bi bi-x-lg"></i></a>

      {% endif %}

      <button class="btn btn-outline-light" type="submit">Buscar</button>
    </div>
  </form>

  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      {% for client in clients %}
        <tr>
          <td>{{ client.name }}</td>
          <td>{{ client.phone_number }}</td>

          <td>
            <a href="{% url 'clients:client_detail' client.id %}" class="btn btn-sm btn-info"><i class="bi bi-eye"></i></a>

            <a href="{% url 'clients:client_update' client.id %}" class="btn btn-sm btn-warning"><i class="bi bi-pencil"></i></a>

            <form action="{% url 'clients:client_delete' client.id %}" method="post" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja excluir este cliente?')"><i class="bi bi-trash"></i></button>
            </form>
          </td>
        </tr>
      {% empty %}
        {% if request.GET.client_name %}
        <tr>
          <td colspan="3">Cliente não encontrado</td>
        </tr>
        {% else %}
          <tr>
            <td colspan="3">Nenhum cliente cadastrado</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
  {% include "components/_pagination.html" %}
{% endblock %}
