{% extends 'base.html' %}

{% block title %}
Editar Veículo
{% endblock %}

{% block content %}

<h2 class="mb-4">Editar Veículo</h2>

<div class="card bg-dark text-light">

    <div class="card-body">

        <form method="post">

            {% csrf_token %}

            <div class="mb-4">
                <label class="form-label">Placa</label>
                {{ form.plate }}
            </div>

            <div class="mb-4">
                <label class="form-label">Modelo</label>
                {{ form.vehicle_model }}
            </div>

            <div class="mb-4">
                <label class="form-label">Marca</label>
                {{ form.vehicle_brand }}
            </div>

            <div class="mb-4">
                <label class="form-label">Ano</label>
                {{ form.vehicle_year }}
            </div>
            
            <button type="submit" class="btn btn-success">
                Salvar alterações
            </button>

            <a href="{% url 'clients:vehicle_detail' vehicle.id %}" class="btn btn-secondary">
                Cancelar
            </a>

        </form>

    </div>

</div>

{% endblock %}